body {
    width:100vw;
    height:99.99vh;
    margin:0 auto;
    overflow:hidden;
}
#view {
    width:100%;
    height:100%;
    float:left;
    background-color:white;
    z-index:0;
}
#plansza, #check {
    display: none;
}
button {
    position:absolute;
    width:20vw;
    height:4vh;
    font-size:2vw;
    cursor:pointer;
    color:white;
    outline:none;
    background-color:#f4511e;
    border:none;
    border-radius:2vmin;
    box-shadow: 0 0.5vmin #555;
    z-index:10;
    transition-duration:0.3s;
}
button:hover {
    background-color:#cc2604;
    transition-duration:0.5s;
}
input {
    position:absolute;
    width:19.7vw;
    height:3vh;
    border-radius:2vmin;
    border:0;
    text-align:center;
    background-color:white;
    transition-duration:0.2s;
}
input:focus {
    background-color:#fff4a5;
    transition-duration:0.5s;
}
#user_reg {
    left:1vw;
    top:1vh;
    z-index:10;
}
#pass_reg {
    left:1vw;
    top:5vh;
    z-index:10;
}
#rejestruj {
    left:1vw;
    top:9vh;
}
#user_log {
    right:1vw;
    top:1vh;
    z-index:10;
}
#pass_log {
    right:1vw;
    top:5vh;
    z-index:10;
}
#loguj {
    right:1vw;
    top:9vh;
}
#bariera {
    background-color:rgba(128, 128, 128, 0.5);
    position:absolute;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    z-index:5;
}
#nickname {
    position:absolute;
    left:1vw;
    bottom:1vh;
    z-index:10;
    font-size:2vw;
    color:white;
}
#window, #checkChecker {
    width:50vw;
    height:18vh;
    position:absolute;
    text-align:center;
    background-color:rgba(255, 216, 0, 0.7);
    border-bottom-left-radius:6vw;
    border-bottom-right-radius:6vw;
    z-index:1100;
    transition-duration:1s;
}
#window {
    left:25vw;
    top:-18vh;
}
#close {
    left:15vw;
    bottom:5vh;
}
#text, #checkText {
    letter-spacing:0.4vw;
    position:relative;
    top:3.25vh;
    color:white;
    font-size:2.5vw;
}
#szukajGracza {
    position:absolute;
    z-index:11;
    left:33vw;
    top:45vh;
    width:33vw;
    height:10vh;
    border-radius:10vw;
    font-size:2.5vw;
    display:none;
    box-shadow:none;
}
.close, #loguj, #rejestruj {
    box-shadow:none;
}
#szukajGracza:hover, .close:hover, #loguj:hover, #rejestruj:hover {
    box-shadow:0px 0px 10px black;
}
#checkChecker {
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    border-top-left-radius:6vw;
    border-top-right-radius:6vw;
    bottom:0;
    left:25vw;
    height:10vh;
    display:none;
}
.ranking-component {
    transition-duration: 1.2s;
    position:absolute;
    top:0;
    background-color:rgba(50, 50, 50, 0.6);
    border-bottom-left-radius: 15px;
    z-index:1200;
}
.ranking-component:hover {
    transition-duration: 0.8s;
}
.ranking-component table {
    width: 100%;
    position:absolute;
    top:calc(10% + 20px);
    color:white;
    text-shadow:2px 2px 1px gray;
}
.ranking-component table td {
    border:1px solid beige;
    text-align:center;
}
.ranking-button {
    position:absolute;
    right:10px;
    top:10px;
    cursor:pointer;
    height:10%;
    transition-duration:0.8s;
}

.choose_game_mode {
    position:absolute;
    width:60vw;
    height:80vh;
    background-color: rgba(230, 216, 25, 0.504);
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    z-index:1001;
    min-height:200px;
    font-family:Tahoma;
    text-shadow: 0px 0px 6px rgba(95, 95, 95, 0.604);
    border-radius:10px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.choose_game_mode_header {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    text-align: center;
    font-size:min(24px, 6vw);
}
.choose_game_mode_buttons {
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-left:15px;
    margin-right:15px;
}
.difficulty_header {
    grid-column: 1 / span 3;
    grid-row: 3 / span 1;
    text-align: center;
    margin-top:10px;
}
.vs_player {
    grid-column: 1 / span 1;
}
.vs_computer {
    grid-column: 2 / span 1;
}
.vs_player, .vs_computer {
    cursor:pointer;
    transition-duration:0.8s;
    background-color:rgba(50, 50, 50, 0.2);
    border-radius:15px;
    position:relative;
}
.vs_player > div > img, .vs_computer > div > img {
    position:relative;
    left:50%;
    transform: translateX(-50%);
    width:100%;
    height:100%;
    max-width:64px;
}

.vs_player > span, .vs_computer > span {
    position:absolute;
    left:50%;
    bottom:0;
    transform:translateX(-50%); 
    display: inline-block;
    font-size:min(5vw, 16px);
}
.vs_player:hover, .vs_computer:hover {
    background-color:rgba(244, 81, 30, 0.7);
    transition-duration:1.0s;
    box-shadow:0px 0px 5px black;
}
.vs_player > div, .vs_computer > div {
    margin: 10px 0px;
}

.choose_game_mode_buttons > div.clicked {
    background-color:rgba(235, 32, 17, 0.7) !important;
}
.choose_your_difficulty {
    grid-column: 1 / span 3;
    grid-row: 4 / span 1;
    text-align: center;
}
.choose_your_difficulty > div {
    background-color: black;
    width: max(15px, 3vw);
    height: max(15px, 3vw);
    display: inline-block;
    border-radius:20px;
    transition-duration:0.5s;
    cursor: pointer;
}
.choose_your_difficulty > div:after {
    content: ' ';
    background-color: rgba(255, 255, 255, 1);
    width: max(12px, 2.4vw);
    height: max(12px, 2.4vw);
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}
.choose_your_difficulty > div:hover:after {
    background-color: rgba(244, 81, 30, 0.7) !important;
}
.choose_your_difficulty > div.filled:after {
    background-color: black;
}
.display_none {
    display: none;
}
.color_header {
    grid-column: 1 / span 3;
    grid-row: 5 / span 1;
    text-align: center;
}
.choose_your_color {
    grid-column: 1 / span 3;
    grid-row: 6 / span 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.choose_your_color > div.white {
    grid-column: 1 / span 1;
}
.choose_your_color > div.mixed {
    grid-column: 2 / span 1;
}
.choose_your_color > div.black {
    grid-column: 3 / span 1;
}
.choose_your_color > div {
    text-align: center;
    background-color: rgba(50, 50, 50, 0.2);
    text-shadow: 0px 0px 6px rgba(95, 95, 95, 0.604);
    border-radius:15px;
    cursor:pointer;
    margin: 0 10px;
    transition-duration:0.5s;
}
.choose_your_color > div > img {
    width:max(25px, 28%);
}
.choose_your_color > div:hover {
    background-color:rgba(244, 81, 30, 0.7);
    transition-duration:1.0s;
    box-shadow:0px 0px 5px black;
}
.choose_your_color > div.clicked {
    background-color:rgba(235, 32, 17, 0.7) !important;
}
.finalButton {
    width:100px;
    text-align:center;
    cursor:pointer;
    color:white;
    outline:none;
    background-color:#f4511e;
    border:none;
    border-radius:2vmin;
    box-shadow: 0 0.5vmin #555;
    z-index:10;
    transition-duration:0.3s;
    margin:0 auto;
    grid-column: 2 / span 1;
    margin-top:15px;
}
.finalButton:hover {
    background-color:#cc2604;
    transition-duration:0.5s;
}
.curtain {
    position:absolute;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    left:0;
    top:0;
    width:100%;
    height:100%;
    display: grid;
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
}
.strikethrough {
    grid-row: 4 / span 4;
    grid-column: 1 / span 3;
    margin-top:10px;
}
.strikethrough > img {
    width:100%;
    height:100%;
    pointer-events: initial;
}